<div class="container">
  <div class="filters">
    <a routerLink="/catalog/Heads">Heads</a>
    <a routerLink="/catalog/Arms">Arms</a>
    <a routerLink="/catalog/Torsos">Torsos</a>
    <a routerLink="/catalog/Bases">Bases</a>
    <a [routerLink]="['/catalog','']">All</a>
  </div>

  <ul class="products">
    <li class="product-item" *ngFor="let product of getFilterdProducts()">
      <bot-product-details [product]="product" (buy)="addToCart(product)"></bot-product-details>
    </li>
  </ul>
</div>