<div class="content">
  <h1 class="header">
    Edit Contact
  </h1>
  <form (ngSubmit)="saveContact(contactForm)" #contactForm="ngForm">
    <section>
      <nav>Name/Info</nav>
      <div>
        <con-profile-icon-selector [(ngModel)]="contact.profileIcon" name="profileIcon"/>
        <input placeholder="First Name" [(ngModel)]="contact.firstName" required minlength="3" #firstName="ngModel" name="firstName" [class.error]="firstName.invalid && firstName.touched"/>
        <em *ngIf="firstName.errors?.['required'] && firstName.touched">Please enter a First Name</em>
        <em *ngIf="firstName.errors?.['minlength'] && firstName.touched">First Name must be at least 3 characters</em>
        <input placeholder="Last Name" [(ngModel)]="contact.lastName" name="lastName" />
        <input type="date" placeholder="Date of Birth" [(ngModel)]="contact.dateOfBirth" name="dateOfBirth" />
        <!-- <input type="number" placeholder="Favorites Ranking" [(ngModel)]="contact.favoritesRanking" name="favoritesRanking" />-->
         <div>
          <input type="range" min="0" max="5" placeholder="Favorites Ranking" [(ngModel)]="contact.favoritesRanking" name="favoritesRanking" />
          {{contact.favoritesRanking}}
        </div>
        <div>
          <input type="checkbox" [(ngModel)]="contact.personal" name="personal" value="yes"/>  Personal
        </div>
      </div>
    </section>
    <section>
      <nav>Phone</nav>
      <div class="flex-column" ngModelGroup="phones">
        <div class="flex-column" *ngFor="let phone of contact.phones let i=index" >
          <div class="flex-group">
            <input placeholder="Phone" [(ngModel)]="phone.phoneNumber" name="phoneNumber{{i}}" />
            <img *ngIf="i==contact.phones.length-1" src="/assets/plus-grey-blue.png" class="add"  (click)="addPhone()"/>
          </div>
          <div class="radio">
            <span *ngFor="let phoneType of phoneTypes">
              <input type="radio" [value]="phoneType.value" [(ngModel)]="phone.phoneType" name="phoneType{{i}}"> {{phoneType.label}}
            </span>
          </div>
        </div>
      </div>
    </section>
    <section>
      <nav>Address</nav>
      <div>
        <div class="address" ngModelGroup="address" #addressGroup="ngModelGroup" [class.error]="addressGroup.invalid && addressGroup.dirty">
          <div class="flex-group">
            <input placeholder="Address" [(ngModel)]="contact.address.streetAddress" name="streetAddress" required />
            <img src="/assets/plus-grey-blue.png" class="add" />
          </div>
          <input placeholder="City" [(ngModel)]="contact.address.city" name="city" required />
          <input placeholder="State/Region" [(ngModel)]="contact.address.state" name="state" required />
          <input placeholder="Zip/Postal Code" [(ngModel)]="contact.address.postalCode" name="postalCode" required />
          <select [(ngModel)]="contact.address.addressType" name="addressType" required >
            <option *ngFor="let addressType of addressTypes" [value]="addressType.value"> {{addressType.label}} </option>
          </select>
        </div>
        <em *ngIf="addressGroup.invalid && addressGroup.dirty"> Address is incomplete </em>
      </div>
    </section>
    <section>
      <nav>Notes</nav>
      <div>
        <textarea placeholder="Notes" rows="3" [(ngModel)]="contact.notes" name="notes" #notes="ngModel" [restrictedWords]="['foo','bar']" 
          [class.error]="notes.invalid"></textarea>
          <em *ngIf="notes.errors?.['restrictedWords']"> Restricted words found: {{notes.errors?.['restrictedWords']}} </em>
      </div>
    </section>
    <div class="buttons">
      <button class="secondary" type="button">Cancel</button>
      <button class="primary" type="submit" [disabled]="contactForm.invalid">Save</button>
      <button class="saving" disabled>Saving..</button>
    </div>
  </form>
</div>